<!-- Card -->
<div class="card">
    <!-- Card image -->
    <img class="card-img-top" src="<%= card.img %>" alt="Card image cap">
    <!-- Card content -->
    <div class="card-body">
        <!-- Title -->
        <h4 class="card-title"><a><%= card.title %></a></h4>
        <!-- Text -->
        <p class="card-text"><%= card.text %></p>
        <!-- Button -->
        <a href="<%= card.link %>" class="btn btn-primary">Read More</a>
    </div>
</div>